
.searchIcon {
  position: absolute;
  content: "";
  top:13px;
  left: 15px;
  z-index: 99;
}
.searchField {
  border-color: #eee;
  font-size: 1rem;
  padding: 15px 20px;
  padding-left: 50px;
  border-radius: 15px;
  &:focus {
    border-color: #dedede;
  }
}
.movies {
  display: flex;
  gap: 20px;
  .searchResult {
    position: relative;
    width: 100%;
  }
  .nominations {

  }
}